In [49]:
import pandas as pd
import numpy as np

In [50]:
dataset = pd.read_csv('Bengaluru_House_Data.csv')

In [51]:
dataset.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [52]:
dataset.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [53]:
dataset.drop(columns=['society','balcony','availability', 'area_type'] , inplace=True)

In [54]:
dataset.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [55]:
dataset['location'] = dataset['location'].fillna('Whitefield')

In [56]:
dataset['size'] = dataset['size'].fillna('2 BHK')

In [57]:
dataset['bath'] = dataset['bath'].fillna(dataset['bath'].median())

In [58]:
dataset.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [59]:
dataset['BHK'] = dataset['size'].str.split().str.get(0).astype(int)

In [60]:
dataset.head()

                   location       size total_sqft  bath   price  BHK
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [61]:
dataset['total_sqft']

0        1056
1        2600
2        1440
3        1521
4        1200
         ...
13315    3453
13316    3600
13317    1141
13318    4689
13319     550
Name: total_sqft, Length: 13320, dtype: object

In [62]:
def range_converer(x):
    N = x.split('-')
    if len(N) == 2:
        return (float(x[0])+float(x[1]))/2
    try:
        return float(x)
    except:
        return None

In [63]:
dataset['total_sqft'] = dataset['total_sqft'].apply(range_converer)

In [64]:
dataset.head()

                   location       size  total_sqft  bath   price  BHK
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [65]:
dataset['price_per_sqft'] = (dataset['price']*100000)/dataset['total_sqft']

In [66]:
dataset.head()

,location,size,total_sqft,bath,price,BHK,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [67]:
dataset['location'].unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [68]:
dataset['location'] = dataset['location'].apply(lambda x:x.strip())

In [69]:
location_count = dataset['location'].value_counts()

In [70]:
location_count

location
Whitefield                        542
Sarjapur  Road                    399
Electronic City                   304
Kanakpura Road                    273
Thanisandra                       237
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1294, dtype: int64

In [71]:
location_count_less = location_count[location_count <=15]
location_count_less

location
Benson Town                       15
Nagavarapalya                     15
Kodihalli                         15
Varthur Road                      15
Chamrajpet                        15
                                  ..
Bapuji Layout                      1
1st Stage Radha Krishna Layout     1
BEML Layout 5th stage              1
singapura paradise                 1
Abshot Layout                      1
Name: count, Length: 1113, dtype: int64

In [72]:
dataset['location'] = dataset['location'].apply(lambda x: 'other' if x in location_count_less else x)

In [73]:
dataset['location'].value_counts()

location
other                    3646
Whitefield                542
Sarjapur  Road            399
Electronic City           304
Kanakpura Road            273
                         ...
Kereguddadahalli           16
Banashankari Stage VI      16
Cooke Town                 16
Kasturi Nagar              16
Parappana Agrahara         16
Name: count, Length: 182, dtype: int64

In [74]:
dataset.describe()

         total_sqft          bath         price           BHK  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1531.448708      2.688814    112.565627      2.802778    7.629203e+04
std     1243.564986      1.338754    148.971674      1.294496    8.111395e+05
min        0.500000      1.000000      8.000000      1.000000    2.678298e+02
25%     1096.000000      2.000000     50.000000      2.000000    4.284323e+03
50%     1265.000000      2.000000     72.000000      3.000000    5.497606e+03
75%     1660.000000      3.000000    120.000000      3.000000    7.486711e+03
max    52272.000000     40.000000   3600.000000     43.000000    3.180000e+07

In [75]:
dataset = dataset[(dataset['total_sqft']/dataset['BHK'])>=300]
dataset = dataset[dataset['BHK'] <= 5]
dataset = dataset[dataset['bath'] <= 5]

In [76]:
dataset.describe()

         total_sqft          bath         price           BHK  price_per_sqft
count  12034.000000  12034.000000  12034.000000  12034.000000    12034.000000
mean    1532.869485      2.464600    104.405309      2.569553     6227.897981
std     1110.464023      0.851249    128.601046      0.783795     4010.477759
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1111.000000      2.000000     48.950000      2.000000     4200.279518
50%     1290.000000      2.000000     69.000000      2.000000     5284.861974
75%     1658.250000      3.000000    110.000000      3.000000     6857.142857
max    52272.000000      5.000000   2912.000000      5.000000   176470.588235

In [77]:
dataset.shape

(12034, 7)

In [78]:
dataset.head()

,location,size,total_sqft,bath,price,BHK,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [79]:
dataset = dataset[['location', 'total_sqft' , 'BHK' , 'bath' , 'price']]

In [80]:
lower_limit=dataset['price'].mean()-dataset['price'].std()*3
upper_limit=dataset['price'].mean()+dataset['price'].std()*3
dataset['price']=np.where(dataset['price']>upper_limit,
                     upper_limit,
                     np.where(dataset['price']<lower_limit,lower_limit,dataset['price']))

In [81]:
dataset.head()

                   location  total_sqft  BHK  bath   price
0  Electronic City Phase II      1056.0    2   2.0   39.07
1          Chikka Tirupathi      2600.0    4   5.0  120.00
2               Uttarahalli      1440.0    3   2.0   62.00
3        Lingadheeranahalli      1521.0    3   3.0   95.00
4                  Kothanur      1200.0    2   2.0   51.00

In [82]:
X = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

In [83]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size=0.2 , random_state=42)

In [84]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

# Define preprocessing steps
preprocessor = ColumnTransformer(
    transformers=[
        ('encoder', OneHotEncoder(handle_unknown='ignore'), ['location']),  # One-hot encode 'location'
        ('scaler', StandardScaler(), ['total_sqft', 'BHK', 'bath'])         # Scale numerical features
    ],
    remainder='passthrough'  # Keep other columns unchanged (if any)
)

In [85]:
# Ensure dataset is defined
if 'dataset' not in locals():
    raise NameError("The variable 'dataset' is not defined. Please ensure the earlier cells defining 'dataset' are executed.")

# Features (X) and target (y)
X = dataset.drop('price', axis=1)
y = dataset['price']

# Split the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a pipeline with preprocessing and model
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline

pipeline = Pipeline([
    ('preprocessor', preprocessor),  # Apply preprocessing
    ('model', RandomForestRegressor(random_state=42))  # Train the model
])

# Train the model
pipeline.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('encoder',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['location']),
                                                 ('scaler', StandardScaler(),
                                                  ['total_sqft', 'BHK',
                                                   'bath'])])),
                ('model', RandomForestRegressor(random_state=42))])

In [86]:
import pickle

# Save the pipeline using pickle
with open('house_price_model_pipeline.pkl', 'wb') as f:
    pickle.dump(pipeline, f)

In [87]:
import pickle

# Load the pipeline from the file
with open('house_price_model_pipeline.pkl', 'rb') as f:
    pipeline = pickle.load(f)

# Example input data
input_data = pd.DataFrame({
    'location': ['1st block jayanagar'],
    'total_sqft': [2000],
    'BHK': [3],
    'bath': [2]
})

# Make predictions
predicted_price = pipeline.predict(input_data)
print(f"Predicted Price: {predicted_price[0]}")

Predicted Price: 153.23676666666668